NodeRed Flujos/WiFi/flowMqttWifi.json
[{"id":"8188cada.0c864","type":"tab","label":"Flow 1"},{"id":"7935ef6e.eff5d8","type":"inject","z":"8188cada.0c864","name":"Sensor Time","topic":"sensorTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":220,"y":300,"wires":[["ebea42f1.a5fa78","f61a7e29.f987b8"]]},{"id":"2e2173ad.c121ac","type":"debug","z":"8188cada.0c864","name":"","active":false,"console":"false","complete":"true","x":350,"y":40,"wires":[]},{"id":"ebea42f1.a5fa78","type":"debug","z":"8188cada.0c864","name":"","active":false,"console":"false","complete":"before format","x":450,"y":400,"wires":[]},{"id":"94d539b4.0009","type":"function","z":"8188cada.0c864","name":"Format data","func":"var res = {};\nvar dataArray = [];\nvar dataUnit = \"\";\nvar dataString= \"\";\n\ndataString = msg.payload;\n\nconsole.log(dataString);\ndataArray = dataString.split(\" \");\ndataUnit = dataArray[2];\nswitch(dataArray[0]%4){\n    case 0:\n        res.topic = \"Temperature\"\n        break;\n    case 1:\n        res.topic = \"Luminosity\"\n        break;\n    case 2:\n        res.topic = \"Sound\"\n        break;\n    case 3:\n        res.topic = \"Gas\"\n        break;\n}\n//res.topic = \"roomTemperature\";\nres.payload = {};\n\nres.payload = {\"data\": parseInt(dataArray[1]), \"unit\": dataUnit, \"idSensor\": parseInt(dataArray[0])}\n\nreturn res;","outputs":1,"noerr":0,"x":390,"y":180,"wires":[["7ad58434.3b5664","b694f5a0.c5feb"]]},{"id":"f61a7e29.f987b8","type":"function","z":"8188cada.0c864","name":"Format time","func":"var res= {};\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\nreturn res;","outputs":1,"noerr":0,"x":470,"y":280,"wires":[["6fe27ef7.78ac1","b694f5a0.c5feb"]]},{"id":"7ad58434.3b5664","type":"debug","z":"8188cada.0c864","name":"","active":false,"console":"false","complete":"payload","x":660,"y":80,"wires":[]},{"id":"6fe27ef7.78ac1","type":"debug","z":"8188cada.0c864","name":"","active":false,"console":"false","complete":"true","x":560,"y":360,"wires":[]},{"id":"b694f5a0.c5feb","type":"function","z":"8188cada.0c864","name":"Merge 2 msgs ","func":"context.data = context.data||{};\nvar sense = null;\n\nswitch (msg.topic) {\n    case \"sensorTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"Temperature\":\n        sense = msg.payload;\n        msg = null;\n        break;\n    case \"Luminosity\":\n        sense = msg.payload;\n        msg = null;\n        break;\n    case \"Sound\":\n        sense = msg.payload;\n        msg = null;\n        break;\n    case \"Gas\":\n        sense = msg.payload;\n        msg = null;\n        break;\n}\n\nif(context.data.sensetime !== null&&sense!==null){\n    var res = {};\n    console.log(\"Null? \" + sense);\n    res.payload = JSON.stringify({\"data\": parseInt(sense.data), \"unit\": sense.unit, \"idSensor\": sense.idSensor, \"senseTime\":context.data.sensetime});\n    res.topic = \"sensorData\";\n    context.data = null;\n    sense = null;\n\tconsole.log(res);\n\treturn res;\n\n}\n","outputs":1,"noerr":0,"x":720,"y":200,"wires":[["e8e1f983.64ab68","a3fa736f.1ec88"]]},{"id":"e8e1f983.64ab68","type":"debug","z":"8188cada.0c864","name":"","active":true,"console":"false","complete":"true","x":788.7499847412109,"y":273.1666717529297,"wires":[]},{"id":"a3fa736f.1ec88","type":"mqtt out","z":"8188cada.0c864","name":"","topic":"normal.rango1","qos":"0","retain":"false","broker":"1151163b.4d9d8a","x":900,"y":140,"wires":[]},{"id":"3d052577.7c8fb2","type":"mqtt in","z":"8188cada.0c864","name":"","topic":"bajoNivel","qos":"0","broker":"92a96cf4.6f4c8","x":160,"y":100,"wires":[["2e2173ad.c121ac","94d539b4.0009"]]},{"id":"1151163b.4d9d8a","type":"mqtt-broker","z":"","broker":"157.253.226.36","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"92a96cf4.6f4c8","type":"mqtt-broker","z":"","broker":"172.20.10.5","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""}]