NodeRed Flujos/flujoexp2.json
[{"id":"2adb4668.76614a","type":"tab","label":"Flow 1"},{"id":"81a5ad64.2b1d1","type":"debug","z":"2adb4668.76614a","name":"Before Format","active":false,"console":"false","complete":"payload","x":340,"y":180,"wires":[]},{"id":"8c105efc.8c9db","type":"function","z":"2adb4668.76614a","name":"Format Temperature","func":"var res = {};\nvar tempArray = [];\n\n\ntempString = msg.payload;\ntempArray = tempString.split(\" \");\nres.topic = \"roomTemperature\";\nres.payload = {};\n\nres.payload = tempArray[0];\n\nreturn res;","outputs":1,"noerr":0,"x":340,"y":220,"wires":[["62c9fd0.5fb8804","eb359d9c.8032f"]]},{"id":"eb05c848.1b2588","type":"inject","z":"2adb4668.76614a","name":"Sensor Time","topic":"roomTime","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"x":140,"y":540,"wires":[["4bfaeeaa.287e6","4327c53e.5fb51c"]]},{"id":"4bfaeeaa.287e6","type":"function","z":"2adb4668.76614a","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":310,"y":540,"wires":[["62c9fd0.5fb8804","91018e6b.2dbc1"]]},{"id":"62c9fd0.5fb8804","type":"function","z":"2adb4668.76614a","name":"Merge 2 Messages","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"roomTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"roomTemperature\":\n        context.data.temperatura = msg.payload;\n        msg = null;\n        break;\n    case \"roomGas\":\n        context.data.gas = msg.payload;\n        msg = null;\n        break;   \n    case \"roomSound\":\n        context.data.ruido = msg.payload;\n        msg = null;\n        break; \n    case \"roomLight\":\n        context.data.luz = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.temperatura != null\n    && context.data.gas != null\n    && context.data.ruido != null\n    && context.data.luz != null) {\n\tres = {};\n\tcontext.data.id = 0;\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"roomData\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":927,"y":418,"wires":[["9b2eae09.faa79","26fd4fcf.f1575"]]},{"id":"eb359d9c.8032f","type":"debug","z":"2adb4668.76614a","name":"After Format","active":false,"console":"false","complete":"true","x":530,"y":220,"wires":[]},{"id":"4327c53e.5fb51c","type":"debug","z":"2adb4668.76614a","name":"Before Format","active":false,"console":"false","complete":"payload","x":340,"y":500,"wires":[]},{"id":"91018e6b.2dbc1","type":"debug","z":"2adb4668.76614a","name":"After Format","active":false,"console":"false","complete":"true","x":530,"y":540,"wires":[]},{"id":"94061fd6.9d1e","type":"inject","z":"2adb4668.76614a","name":"","topic":"roomTemperature","payload":"17 C","payloadType":"str","repeat":"15","crontab":"","once":true,"x":115,"y":205,"wires":[["81a5ad64.2b1d1","8c105efc.8c9db"]]},{"id":"9b2eae09.faa79","type":"debug","z":"2adb4668.76614a","name":"","active":true,"console":"false","complete":"true","x":1131,"y":453,"wires":[]},{"id":"26fd4fcf.f1575","type":"mqtt out","z":"2adb4668.76614a","name":"","topic":"normal.rango1","qos":"0","retain":"false","broker":"80444920.66b238","x":1158,"y":384,"wires":[]},{"id":"4d5b04c5.75a4ac","type":"inject","z":"2adb4668.76614a","name":"","topic":"roomGas","payload":"800 ppm","payloadType":"str","repeat":"15","crontab":"","once":true,"x":120,"y":300,"wires":[["da8855eb.e4c1e8","f8edbdf7.9eb1"]]},{"id":"da8855eb.e4c1e8","type":"debug","z":"2adb4668.76614a","name":"Before Format","active":false,"console":"false","complete":"payload","x":340,"y":260,"wires":[]},{"id":"f8edbdf7.9eb1","type":"function","z":"2adb4668.76614a","name":"Format Gas","func":"var res = {};\nvar tempArray = [];\n\n\ntempString = msg.payload;\ntempArray = tempString.split(\" \");\nres.topic = \"roomGas\";\nres.payload = {};\n\nres.payload =tempArray[0];\n\nreturn res;","outputs":1,"noerr":0,"x":310,"y":300,"wires":[["62c9fd0.5fb8804","2f96354b.b04eba"]]},{"id":"6160a720.e9fe28","type":"inject","z":"2adb4668.76614a","name":"","topic":"roomSound","payload":"2000 db","payloadType":"str","repeat":"15","crontab":"","once":true,"x":120,"y":380,"wires":[["3733d4f.21f612c","7c8a5107.2c2fd"]]},{"id":"7c8a5107.2c2fd","type":"debug","z":"2adb4668.76614a","name":"Before Format","active":false,"console":"false","complete":"payload","x":340,"y":340,"wires":[]},{"id":"3733d4f.21f612c","type":"function","z":"2adb4668.76614a","name":"Format Sound","func":"var res = {};\nvar tempArray = [];\n\n\ntempString = msg.payload;\ntempArray = tempString.split(\" \");\nres.topic = \"roomSound\";\nres.payload = {};\n\nres.payload = tempArray[0];\n\nreturn res;","outputs":1,"noerr":0,"x":320,"y":380,"wires":[["62c9fd0.5fb8804","b87090d4.75178"]]},{"id":"3b487d7b.e0ed32","type":"inject","z":"2adb4668.76614a","name":"","topic":"roomLight","payload":"25 lx","payloadType":"str","repeat":"15","crontab":"","once":true,"x":130,"y":460,"wires":[["1a8c5980.d34767","c45f558c.1afd58"]]},{"id":"c45f558c.1afd58","type":"debug","z":"2adb4668.76614a","name":"Before Format","active":false,"console":"false","complete":"payload","x":340,"y":420,"wires":[]},{"id":"1a8c5980.d34767","type":"function","z":"2adb4668.76614a","name":"Format Light","func":"var res = {};\nvar tempArray = [];\n\ntempString = msg.payload;\ntempArray = tempString.split(\" \");\nres.topic = \"roomLight\";\nres.payload = {};\n\nres.payload = tempArray[0];\n\nreturn res;","outputs":1,"noerr":0,"x":310,"y":460,"wires":[["62c9fd0.5fb8804","ab0cfa4b.4a1328"]]},{"id":"2f96354b.b04eba","type":"debug","z":"2adb4668.76614a","name":"After Format","active":false,"console":"false","complete":"true","x":530,"y":300,"wires":[]},{"id":"b87090d4.75178","type":"debug","z":"2adb4668.76614a","name":"After Format","active":false,"console":"false","complete":"true","x":530,"y":380,"wires":[]},{"id":"ab0cfa4b.4a1328","type":"debug","z":"2adb4668.76614a","name":"After Format","active":false,"console":"false","complete":"true","x":530,"y":460,"wires":[]},{"id":"80444920.66b238","type":"mqtt-broker","z":"","broker":"172.24.42.23","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
