NodeRed Flujos/flujosExp2Final
[{"id":"8eaf471f.42d42","type":"tab","label":"Flow 1"},{"id":"6f4b83e7.aa01bc","type":"debug","z":"8eaf471f.42d42","name":"Before Format","active":false,"console":"false","complete":"payload","x":513,"y":233,"wires":[]},{"id":"e659bb84.e2be88","type":"function","z":"8eaf471f.42d42","name":"Format Temperature","func":"var res = {};\nvar tempArray = [];\n\n\ntempString = msg.payload;\nres.topic = \"roomTemperature\";\nres.payload = {};\n\nres.payload = tempString\n\nreturn res;","outputs":1,"noerr":0,"x":537,"y":293,"wires":[["87ba20a1.81f7d","fde27c80.5a17b"]]},{"id":"8b70e68d.250ed","type":"inject","z":"8eaf471f.42d42","name":"Sensor Time","topic":"roomTime","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"x":136,"y":741,"wires":[["e419d35b.5a5248","692a598d.d48b6"]]},{"id":"e419d35b.5a5248","type":"function","z":"8eaf471f.42d42","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":306,"y":741,"wires":[["87ba20a1.81f7d","a9b099db.ca8f88"]]},{"id":"87ba20a1.81f7d","type":"function","z":"8eaf471f.42d42","name":"Merge 2 Messages","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"roomTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"roomTemperature\":\n        context.data.temperatura = msg.payload;\n        msg = null;\n        break;\n    case \"roomGas\":\n        context.data.gas = msg.payload;\n        msg = null;\n        break;   \n    case \"roomSound\":\n        context.data.ruido = msg.payload;\n        msg = null;\n        break; \n    case \"roomLight\":\n        context.data.luz = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.temperatura != null\n    && context.data.gas != null\n    && context.data.ruido != null\n    && context.data.luz != null) {\n\tres = {};\n\tcontext.data.id = 0;\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"roomData\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":927,"y":418,"wires":[["6fd61077.4e85b","8bfc9c3f.3205c8"]]},{"id":"fde27c80.5a17b","type":"debug","z":"8eaf471f.42d42","name":"After Format","active":false,"console":"false","complete":"true","x":738,"y":293,"wires":[]},{"id":"692a598d.d48b6","type":"debug","z":"8eaf471f.42d42","name":"Before Format","active":false,"console":"false","complete":"payload","x":336,"y":701,"wires":[]},{"id":"a9b099db.ca8f88","type":"debug","z":"8eaf471f.42d42","name":"After Format","active":false,"console":"false","complete":"true","x":526,"y":741,"wires":[]},{"id":"a4d5835d.8d214","type":"inject","z":"8eaf471f.42d42","name":"","topic":"roomTemperature","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"x":135,"y":293,"wires":[["b1c6351.7988d48"]]},{"id":"6fd61077.4e85b","type":"debug","z":"8eaf471f.42d42","name":"","active":true,"console":"false","complete":"true","x":1131,"y":453,"wires":[]},{"id":"8bfc9c3f.3205c8","type":"mqtt out","z":"8eaf471f.42d42","name":"","topic":"normal.rango1","qos":"0","retain":"false","broker":"268ea66b.891d5a","x":1158,"y":384,"wires":[]},{"id":"8a119939.cd48f","type":"inject","z":"8eaf471f.42d42","name":"","topic":"roomGas","payload":"800 ppm","payloadType":"str","repeat":"15","crontab":"","once":true,"x":117,"y":406,"wires":[["eadccdf3.9a9ea8"]]},{"id":"1f274730.409239","type":"debug","z":"8eaf471f.42d42","name":"Before Format","active":false,"console":"false","complete":"payload","x":495,"y":355,"wires":[]},{"id":"ac59d1a1.31b0e8","type":"function","z":"8eaf471f.42d42","name":"Format Gas","func":"var res = {};\nvar tempArray = [];\n\n\ntempString = msg.payload;\nres.topic = \"roomGas\";\nres.payload = {};\n\nres.payload =tempString;\nreturn res;","outputs":1,"noerr":0,"x":487,"y":407,"wires":[["87ba20a1.81f7d","793b7d89.72e21c"]]},{"id":"2554b4f4.c32d3c","type":"inject","z":"8eaf471f.42d42","name":"","topic":"roomSound","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"x":115,"y":518,"wires":[["fc8de987.8c99b"]]},{"id":"2994812b.bf97de","type":"debug","z":"8eaf471f.42d42","name":"Before Format","active":false,"console":"false","complete":"payload","x":473,"y":465,"wires":[]},{"id":"880f212f.0a03e","type":"function","z":"8eaf471f.42d42","name":"Format Sound","func":"var res = {};\nvar tempArray = [];\n\n\ntempString = msg.payload;\nres.topic = \"roomSound\";\nres.payload = {};\n\nres.payload = tempString;\n\nreturn res;","outputs":1,"noerr":0,"x":474,"y":516,"wires":[["87ba20a1.81f7d","945ed46d.33c8c"]]},{"id":"76aaf31c.e5f3d4","type":"inject","z":"8eaf471f.42d42","name":"","topic":"roomLight","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"x":107,"y":613,"wires":[["7171bfe4.3c3e4"]]},{"id":"459a0541.13954c","type":"debug","z":"8eaf471f.42d42","name":"Before Format","active":false,"console":"false","complete":"payload","x":475,"y":570,"wires":[]},{"id":"9de2bfde.7782a8","type":"function","z":"8eaf471f.42d42","name":"Format Light","func":"var res = {};\nvar tempArray = [];\n\ntempString = msg.payload;\nres.topic = \"roomLight\";\nres.payload = {};\n\nres.payload = tempString;\n\nreturn res;","outputs":1,"noerr":0,"x":467,"y":613,"wires":[["87ba20a1.81f7d","58b97223.1b68bc"]]},{"id":"793b7d89.72e21c","type":"debug","z":"8eaf471f.42d42","name":"After Format","active":false,"console":"false","complete":"true","x":658,"y":407,"wires":[]},{"id":"945ed46d.33c8c","type":"debug","z":"8eaf471f.42d42","name":"After Format","active":false,"console":"false","complete":"true","x":656,"y":516,"wires":[]},{"id":"58b97223.1b68bc","type":"debug","z":"8eaf471f.42d42","name":"After Format","active":false,"console":"false","complete":"true","x":648,"y":612,"wires":[]},{"id":"b1c6351.7988d48","type":"random","z":"8eaf471f.42d42","name":"","low":"15","high":"25","inte":"true","x":354.5,"y":293,"wires":[["e659bb84.e2be88","6f4b83e7.aa01bc"]]},{"id":"7171bfe4.3c3e4","type":"random","z":"8eaf471f.42d42","name":"","low":"50","high":"200","inte":"true","x":307,"y":613,"wires":[["9de2bfde.7782a8"]]},{"id":"fc8de987.8c99b","type":"random","z":"8eaf471f.42d42","name":"","low":"1500","high":"3000","inte":"true","x":309,"y":518,"wires":[["880f212f.0a03e","2994812b.bf97de"]]},{"id":"eadccdf3.9a9ea8","type":"random","z":"8eaf471f.42d42","name":"","low":"650","high":"1000","inte":"true","x":316,"y":406,"wires":[["ac59d1a1.31b0e8","1f274730.409239"]]},{"id":"268ea66b.891d5a","type":"mqtt-broker","z":"","broker":"m14.cloudmqtt.com","port":"19689","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""}]
