NodeRed Flujos/Notificaciones/NotificationFueraDeLinea.txt
[{"id":"5f3d8277.09d29c","type":"mqtt in","z":"b820c1f0.74379","name":"","topic":"alta.fueraDeLinea","qos":"0","broker":"1092f4ea.c9b0ab","x":384.9999694824219,"y":328.9999694824219,"wires":[["54fb0923.abb9a8"]]},{"id":"54fb0923.abb9a8","type":"json","z":"b820c1f0.74379","name":"","pretty":false,"x":578.9999237060547,"y":326.6666479110718,"wires":[["6e73e2ea.4b863c","3bd59607.ff631a"]]},{"id":"3bd59607.ff631a","type":"debug","z":"b820c1f0.74379","name":"","active":true,"console":"false","complete":"false","x":750.4999084472656,"y":272.6666326522827,"wires":[]},{"id":"6e73e2ea.4b863c","type":"function","z":"b820c1f0.74379","name":"processing Data","func":"var msg=msg.payload;\nres={};\n\nif(msg.tipoEntidad==\"temperatura\"){\n    res={};\n    res.payload= \"EL SENSOR DE TEMPERATURA \"+msg.id+\" SE ENCUENTRA FUERA DE LÍNEA\";\n    \n    msg.topic= \"SENSOR DE TEMPERATURA FUERA DE LÍNEA\";\n    \n    return res;\n}else if(msg.tipoEntidad==\"gas\"){\n     res={};\n    res.payload= \"EL SENSOR DE CO2 \"+msg.id+\" SE ENCUENTRA FUERA DE LÍNEA\";\n    \n    msg.topic= \"SENSOR DE CO2 FUERA DE LÍNEA\";\n    \n    return res;\n}else if(msg.tipoEntidad==\"luz\"){\n     res={};\n    res.payload= \"EL SENSOR DE LUZ \"+msg.id+\" SE ENCUENTRA FUERA DE LÍNEA\";\n    \n    msg.topic= \"SENSOR DE LUZ FUERA DE LÍNEA\";\n    \n    return res;\n}else if(msg.tipoEntidad==\"ruido\"){\n    res={};\n    res.payload= \"EL SENSOR DE RUIDO \"+msg.id+\" SE ENCUENTRA FUERA DE LÍNEA\";\n    \n    msg.topic= \"SENSOR DE RUIDO FUERA DE LÍNEA\";\n    \n    return res;\n}\nreturn res;","outputs":1,"noerr":0,"x":769.2498931884766,"y":343.66661739349365,"wires":[["dc8c74e4.c36aa8","2daf9486.0e11fc"]]},{"id":"dc8c74e4.c36aa8","type":"switch","z":"b820c1f0.74379","name":"filter","property":"flag","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":958.2498931884766,"y":353.99999141693115,"wires":[["f510f8ab.fd7488","8b97464b.5decf8"]]},{"id":"2daf9486.0e11fc","type":"debug","z":"b820c1f0.74379","name":"","active":true,"console":"false","complete":"false","x":970.4999084472656,"y":272.6666326522827,"wires":[]},{"id":"8b97464b.5decf8","type":"e-mail","z":"b820c1f0.74379","server":"smtp.office365.com","port":"587","secure":false,"name":"tf.venegas10@uniandes.edu.co","dname":"Send Notification","x":1172.2498931884766,"y":353.49999141693115,"wires":[]},{"id":"f510f8ab.fd7488","type":"debug","z":"b820c1f0.74379","name":"","active":true,"console":"false","complete":"false","x":1130.4999084472656,"y":412.6666326522827,"wires":[]},{"id":"1092f4ea.c9b0ab","type":"mqtt-broker","z":"","broker":"172.24.42.46","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"alto/piso1/local1","birthQos":"0","birthRetain":"false","birthPayload":""}]