NodeRed Flujos/Notificaciones/NotificationFueraDeRango.txt
[{"id":"6b55ba5b.43e924","type":"mqtt in","z":"152237cc.1f8478","name":"","topic":"alta.fueraDeRango","qos":"0","broker":"1092f4ea.c9b0ab","x":589.0667114257812,"y":374.3333101272583,"wires":[["98c11750.ae0018"]]},{"id":"98c11750.ae0018","type":"json","z":"152237cc.1f8478","name":"","pretty":false,"x":783.0666656494141,"y":371.9999885559082,"wires":[["54c56a70.66b2b4","b52ef51d.522178"]]},{"id":"b52ef51d.522178","type":"debug","z":"152237cc.1f8478","name":"","active":true,"console":"false","complete":"false","x":954.566650390625,"y":317.99997329711914,"wires":[]},{"id":"54c56a70.66b2b4","type":"function","z":"152237cc.1f8478","name":"processing Data","func":"var msg=msg.payload;\nres={};\n\nif(msg.tipoEntidad==\"temperatura\"){\n    res={};\n    res.payload= \"TEMPERATURA FUERA DE RANGO, DETECTADO POR EL SENSOR :\"+msg.id;\n    res.payload+= \"\\nVALOR PROMEDIO: \"+msg.promedio+\" °C\";\n    \n    msg.topic= \"TEMPERATURA FUERA DE RANGO\";\n    \n    return res;\n}else if(msg.tipoEntidad==\"gas\"){\n    res={};\n    res.payload= \"CO2 FUERA DE RANGO, DETECTADO POR EL SENSOR :\"+msg.id;\n    res.payload+= \"\\nVALOR PROMEDIO: \"+msg.promedio+\" ppm\";\n    \n    msg.topic= \"CO2 FUERA DE RANGO\";\n    \n    return res;\n}else if(msg.tipoEntidad==\"luz\"){\n    res={};\n    res.payload= \"LUMINOSIDAD FUERA DE RANGO, DETECTADO POR EL SENSOR :\"+msg.id;\n    res.payload+= \"\\nVALOR PROMEDIO: \"+msg.promedio+\" lux\";\n    \n    msg.topic= \"LUMINOSIDAD FUERA DE RANGO\";\n    \n    return res;\n}else if(msg.tipoEntidad==\"ruido\"){\n    res={};\n    res.payload= \"RUIDO FUERA DE RANGO, DETECTADO POR EL SENSOR :\"+msg.id;\n    res.payload+= \"\\nVALOR PROMEDIO: \"+msg.promedio+\" db\";\n    \n    msg.topic= \"RUIDO FUERA DE RANGO\";\n    \n    return res;\n}\nreturn res;","outputs":1,"noerr":0,"x":973.3166351318359,"y":388.9999580383301,"wires":[["7e538c3f.9f2c24","184dc42b.791bec"]]},{"id":"7e538c3f.9f2c24","type":"switch","z":"152237cc.1f8478","name":"filter","property":"flag","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":1162.316635131836,"y":399.3333320617676,"wires":[["74582a5d.7d98a4","b9d4e846.e45738"]]},{"id":"184dc42b.791bec","type":"debug","z":"152237cc.1f8478","name":"","active":true,"console":"false","complete":"false","x":1174.566650390625,"y":317.99997329711914,"wires":[]},{"id":"b9d4e846.e45738","type":"e-mail","z":"152237cc.1f8478","server":"smtp.office365.com","port":"587","secure":false,"name":"tf.venegas10@uniandes.edu.co","dname":"Send Notification","x":1376.316635131836,"y":398.8333320617676,"wires":[]},{"id":"74582a5d.7d98a4","type":"debug","z":"152237cc.1f8478","name":"","active":true,"console":"false","complete":"false","x":1334.566650390625,"y":457.99997329711914,"wires":[]},{"id":"1092f4ea.c9b0ab","type":"mqtt-broker","z":"","broker":"172.24.42.46","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"alto/piso1/local1","birthQos":"0","birthRetain":"false","birthPayload":""}]