NodeRed Flujos/Notificaciones/Notificaciones
[{"id":"6ddd02a7.fadc14","type":"tab","label":"Flow 1"},{"id":"108af3c9.33e35c","type":"tab","label":"Flow 2"},{"id":"c1008028.d6bcb8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9d12392.9cfa748","type":"serial-port","z":"","serialport":"/dev/cu.usbmodemFD121","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"59e6665d.156ed8","type":"serial-port","z":"","serialport":"/dev/cu.usbmodemFA131","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"e5d1e341.f941","type":"serial-port","z":"","serialport":"/dev/cu.usbmodemFD121","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"8157dd5c.b41c9","type":"mqtt-broker","z":"","broker":"172.24.42.23","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"36d8b814.935b28","type":"serial-port","z":"","serialport":"/dev/cu.usbmodemFD121","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"ab62ee01.6b5878","type":"mqtt-broker","z":"","broker":"172.24.42.23","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"f4cc7b8d.d9673","type":"mqtt-broker","z":"","broker":"172.24.42.46","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"alto/piso1/local1","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"3613aef3.c63d02","type":"debug","z":"6ddd02a7.fadc14","name":"Before Format","active":false,"console":"false","complete":"payload","x":340,"y":180,"wires":[]},{"id":"8ba28953.96da3","type":"function","z":"6ddd02a7.fadc14","name":"Format Temperature","func":"var res = {};\nvar tempArray = [];\n\n\ntempString = msg.payload;\ntempArray = tempString.split(\" \");\nres.topic = \"roomTemperature\";\nres.payload = {};\n\nres.payload = tempArray[0];\n\nreturn res;","outputs":1,"noerr":0,"x":340,"y":220,"wires":[["a204bb42.39d388","b6b97db2.42fa"]]},{"id":"f03781b8.e00c48","type":"inject","z":"6ddd02a7.fadc14","name":"Sensor Time","topic":"roomTime","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"x":140,"y":540,"wires":[["4de7ed3e.99e6e4","b453f84c.ba768"]]},{"id":"4de7ed3e.99e6e4","type":"function","z":"6ddd02a7.fadc14","name":"Format Time","func":"var res = {};\n\nres.payload = (msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":310,"y":540,"wires":[["a204bb42.39d388","45c16d6f.32fd8c"]]},{"id":"a204bb42.39d388","type":"function","z":"6ddd02a7.fadc14","name":"Merge 2 Messages","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"roomTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"roomTemperature\":\n        context.data.temperatura = msg.payload;\n        msg = null;\n        break;\n    case \"roomGas\":\n        context.data.gas = msg.payload;\n        msg = null;\n        break;   \n    case \"roomSound\":\n        context.data.ruido = msg.payload;\n        msg = null;\n        break; \n    case \"roomLight\":\n        context.data.luz = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.temperatura != null\n    && context.data.gas != null\n    && context.data.ruido != null\n    && context.data.luz != null) {\n\tres = {};\n\tcontext.data.id = 0;\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"roomData\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":927,"y":418,"wires":[["d38cf3e4.b6a3a8","7f1dfdfb.ea13ec"]]},{"id":"b6b97db2.42fa","type":"debug","z":"6ddd02a7.fadc14","name":"After Format","active":false,"console":"false","complete":"true","x":530,"y":220,"wires":[]},{"id":"b453f84c.ba768","type":"debug","z":"6ddd02a7.fadc14","name":"Before Format","active":false,"console":"false","complete":"payload","x":340,"y":500,"wires":[]},{"id":"45c16d6f.32fd8c","type":"debug","z":"6ddd02a7.fadc14","name":"After Format","active":false,"console":"false","complete":"true","x":530,"y":540,"wires":[]},{"id":"7f209701.50fdd8","type":"inject","z":"6ddd02a7.fadc14","name":"","topic":"roomTemperature","payload":"17 C","payloadType":"str","repeat":"15","crontab":"","once":true,"x":115,"y":205,"wires":[["3613aef3.c63d02","8ba28953.96da3"]]},{"id":"d38cf3e4.b6a3a8","type":"debug","z":"6ddd02a7.fadc14","name":"","active":false,"console":"false","complete":"true","x":1131,"y":453,"wires":[]},{"id":"7f1dfdfb.ea13ec","type":"mqtt out","z":"6ddd02a7.fadc14","name":"","topic":"normal.rango1","qos":"0","retain":"false","broker":"ab62ee01.6b5878","x":1158,"y":384,"wires":[]},{"id":"f51c1e15.0b2d8","type":"inject","z":"6ddd02a7.fadc14","name":"","topic":"roomGas","payload":"800 ppm","payloadType":"str","repeat":"15","crontab":"","once":true,"x":120,"y":300,"wires":[["ca612497.f43858","c7973b57.9d1c2"]]},{"id":"ca612497.f43858","type":"debug","z":"6ddd02a7.fadc14","name":"Before Format","active":false,"console":"false","complete":"payload","x":340,"y":260,"wires":[]},{"id":"c7973b57.9d1c2","type":"function","z":"6ddd02a7.fadc14","name":"Format Gas","func":"var res = {};\nvar tempArray = [];\n\n\ntempString = msg.payload;\ntempArray = tempString.split(\" \");\nres.topic = \"roomGas\";\nres.payload = {};\n\nres.payload =tempArray[0];\n\nreturn res;","outputs":1,"noerr":0,"x":310,"y":300,"wires":[["a204bb42.39d388","26d2aa6c.7d8696"]]},{"id":"8250e1a.520bd2","type":"inject","z":"6ddd02a7.fadc14","name":"","topic":"roomSound","payload":"2000 db","payloadType":"str","repeat":"15","crontab":"","once":true,"x":120,"y":380,"wires":[["17633108.43874f","ebbb77f9.b28bf8"]]},{"id":"ebbb77f9.b28bf8","type":"debug","z":"6ddd02a7.fadc14","name":"Before Format","active":false,"console":"false","complete":"payload","x":340,"y":340,"wires":[]},{"id":"17633108.43874f","type":"function","z":"6ddd02a7.fadc14","name":"Format Sound","func":"var res = {};\nvar tempArray = [];\n\n\ntempString = msg.payload;\ntempArray = tempString.split(\" \");\nres.topic = \"roomSound\";\nres.payload = {};\n\nres.payload = tempArray[0];\n\nreturn res;","outputs":1,"noerr":0,"x":320,"y":380,"wires":[["a204bb42.39d388","cad0f7cb.665b98"]]},{"id":"5b29b06.bfc085","type":"inject","z":"6ddd02a7.fadc14","name":"","topic":"roomLight","payload":"25 lx","payloadType":"str","repeat":"15","crontab":"","once":true,"x":130,"y":460,"wires":[["d8d4d252.9f8cd","61e9339f.9aed64"]]},{"id":"61e9339f.9aed64","type":"debug","z":"6ddd02a7.fadc14","name":"Before Format","active":false,"console":"false","complete":"payload","x":340,"y":420,"wires":[]},{"id":"d8d4d252.9f8cd","type":"function","z":"6ddd02a7.fadc14","name":"Format Light","func":"var res = {};\nvar tempArray = [];\n\ntempString = msg.payload;\ntempArray = tempString.split(\" \");\nres.topic = \"roomLight\";\nres.payload = {};\n\nres.payload = tempArray[0];\n\nreturn res;","outputs":1,"noerr":0,"x":310,"y":460,"wires":[["a204bb42.39d388","351e64e0.04f1ec"]]},{"id":"26d2aa6c.7d8696","type":"debug","z":"6ddd02a7.fadc14","name":"After Format","active":false,"console":"false","complete":"true","x":530,"y":300,"wires":[]},{"id":"cad0f7cb.665b98","type":"debug","z":"6ddd02a7.fadc14","name":"After Format","active":false,"console":"false","complete":"true","x":530,"y":380,"wires":[]},{"id":"351e64e0.04f1ec","type":"debug","z":"6ddd02a7.fadc14","name":"After Format","active":false,"console":"false","complete":"true","x":530,"y":460,"wires":[]},{"id":"3b528d75.b3354a","type":"json","z":"108af3c9.33e35c","name":"","pretty":false,"x":278.9999542236328,"y":150.6666784286499,"wires":[["f9913922.43076","4f853c67.9e3b54"]]},{"id":"f9913922.43076","type":"debug","z":"108af3c9.33e35c","name":"","active":true,"console":"false","complete":"false","x":450.49993896484375,"y":96.66666316986084,"wires":[]},{"id":"15808e09.aaab92","type":"function","z":"108af3c9.33e35c","name":"processing Data","func":"var msg=msg.payload;\nres={};\n\nif(msg.tipoEntidad==\"temperatura\"){\n    res={};\n    res.payload= \"EL SENSOR DE TEMPERATURA \"+msg.id+\" SE ENCUENTRA FUERA DE LÍNEA\";\n    \n    msg.topic= \"SENSOR DE TEMPERATURA FUERA DE LÍNEA\";\n    \n    return res;\n}else if(msg.tipoEntidad==\"gas\"){\n     res={};\n    res.payload= \"EL SENSOR DE CO2 \"+msg.id+\" SE ENCUENTRA FUERA DE LÍNEA\";\n    \n    msg.topic= \"SENSOR DE CO2 FUERA DE LÍNEA\";\n    \n    return res;\n}else if(msg.tipoEntidad==\"luz\"){\n     res={};\n    res.payload= \"EL SENSOR DE LUZ \"+msg.id+\" SE ENCUENTRA FUERA DE LÍNEA\";\n    \n    msg.topic= \"SENSOR DE LUZ FUERA DE LÍNEA\";\n    \n    return res;\n}else if(msg.tipoEntidad==\"ruido\"){\n    res={};\n    res.payload= \"EL SENSOR DE RUIDO \"+msg.id+\" SE ENCUENTRA FUERA DE LÍNEA\";\n    \n    msg.topic= \"SENSOR DE RUIDO FUERA DE LÍNEA\";\n    \n    return res;\n}\nreturn res;","outputs":1,"noerr":0,"x":474.24993896484375,"y":237.66664123535156,"wires":[["3d723350.277f3c"]]},{"id":"3d723350.277f3c","type":"debug","z":"108af3c9.33e35c","name":"","active":true,"console":"false","complete":"false","x":670.4999389648438,"y":96.66666316986084,"wires":[]},{"id":"4f853c67.9e3b54","type":"e-mail","z":"108af3c9.33e35c","server":"smtp.office365.com","port":"587","secure":false,"name":"jma.lovera10@uniandes.edu.co","dname":"Send Notification","x":872.2499237060547,"y":177.50002193450928,"wires":[]},{"id":"f25d3cab.114ee","type":"debug","z":"108af3c9.33e35c","name":"","active":true,"console":"false","complete":"false","x":830.4999389648438,"y":236.66666316986084,"wires":[]},{"id":"47d167c4.a339e8","type":"json","z":"108af3c9.33e35c","name":"","pretty":false,"x":277.4999542236328,"y":395,"wires":[["76a2d07a.29fde","7b9f4af4.e46b4c"]]},{"id":"76a2d07a.29fde","type":"debug","z":"108af3c9.33e35c","name":"","active":true,"console":"false","complete":"false","x":448.99993896484375,"y":340.99998474121094,"wires":[]},{"id":"cde62e3.694abd","type":"function","z":"108af3c9.33e35c","name":"processing Data","func":"var msg=msg.payload;\nres={};\n\nif(msg.tipoEntidad==\"temperatura\"){\n    res={};\n    res.payload= \"EL SENSOR DE TEMPERATURA \"+msg.id+\" SE ENCUENTRA FUERA DE LÍNEA\";\n    \n    msg.topic= \"SENSOR DE TEMPERATURA FUERA DE LÍNEA\";\n    \n    return res;\n}else if(msg.tipoEntidad==\"gas\"){\n     res={};\n    res.payload= \"EL SENSOR DE CO2 \"+msg.id+\" SE ENCUENTRA FUERA DE LÍNEA\";\n    \n    msg.topic= \"SENSOR DE CO2 FUERA DE LÍNEA\";\n    \n    return res;\n}else if(msg.tipoEntidad==\"luz\"){\n     res={};\n    res.payload= \"EL SENSOR DE LUZ \"+msg.id+\" SE ENCUENTRA FUERA DE LÍNEA\";\n    \n    msg.topic= \"SENSOR DE LUZ FUERA DE LÍNEA\";\n    \n    return res;\n}else if(msg.tipoEntidad==\"ruido\"){\n    res={};\n    res.payload= \"EL SENSOR DE RUIDO \"+msg.id+\" SE ENCUENTRA FUERA DE LÍNEA\";\n    \n    msg.topic= \"SENSOR DE RUIDO FUERA DE LÍNEA\";\n    \n    return res;\n}\nreturn res;","outputs":1,"noerr":0,"x":475.74993896484375,"y":486.9999694824219,"wires":[["65193ac1.3103a4"]]},{"id":"65193ac1.3103a4","type":"debug","z":"108af3c9.33e35c","name":"","active":true,"console":"false","complete":"false","x":668.9999389648438,"y":340.99998474121094,"wires":[]},{"id":"7b9f4af4.e46b4c","type":"e-mail","z":"108af3c9.33e35c","server":"smtp.office365.com","port":"587","secure":false,"name":"jma.lovera10@uniandes.edu.co","dname":"Send Notification","x":870.7499237060547,"y":421.8333435058594,"wires":[]},{"id":"760ed1ea.fa6168","type":"debug","z":"108af3c9.33e35c","name":"","active":true,"console":"false","complete":"false","x":828.9999389648438,"y":480.99998474121094,"wires":[]},{"id":"e29640ff.0e16c8","type":"debug","z":"108af3c9.33e35c","name":"","active":true,"console":"false","complete":"true","x":200.5,"y":236,"wires":[]},{"id":"24d4f44f.76a57c","type":"debug","z":"108af3c9.33e35c","name":"","active":true,"console":"false","complete":"true","x":209,"y":485,"wires":[]},{"id":"2bb1ec36.29522c","type":"kafka in","z":"108af3c9.33e35c","zkquorum":"172.24.42.23:8081","topics":"alta.fueraDeLinea","groupId":"my-group","debug":true,"autoCommit":true,"x":73.5,"y":210,"wires":[["e29640ff.0e16c8"]]},{"id":"b42e1490.daedd","type":"kafka in","z":"108af3c9.33e35c","zkquorum":"172.24.42.23:8081","topics":"alta.fueraDeRango","groupId":"my-group","debug":true,"autoCommit":true,"x":93,"y":396,"wires":[["47d167c4.a339e8","24d4f44f.76a57c"]]},{"id":"739feea6.d1eda","type":"json","z":"108af3c9.33e35c","name":"","pretty":false,"x":275.4999542236328,"y":597,"wires":[["4699eda9.4bca7c","682d7630.1564"]]},{"id":"4699eda9.4bca7c","type":"debug","z":"108af3c9.33e35c","name":"","active":true,"console":"false","complete":"false","x":446.99993896484375,"y":542.9999847412109,"wires":[]},{"id":"27b549c7.996cf6","type":"function","z":"108af3c9.33e35c","name":"processing Data","func":"var msg=msg.payload;\nres={};\n\nif(msg.tipoEntidad==\"temperatura\"){\n    res={};\n    res.payload= \"EL SENSOR DE TEMPERATURA \"+msg.id+\" SE ENCUENTRA FUERA DE LÍNEA\";\n    \n    msg.topic= \"SENSOR DE TEMPERATURA FUERA DE LÍNEA\";\n    \n    return res;\n}else if(msg.tipoEntidad==\"gas\"){\n     res={};\n    res.payload= \"EL SENSOR DE CO2 \"+msg.id+\" SE ENCUENTRA FUERA DE LÍNEA\";\n    \n    msg.topic= \"SENSOR DE CO2 FUERA DE LÍNEA\";\n    \n    return res;\n}else if(msg.tipoEntidad==\"luz\"){\n     res={};\n    res.payload= \"EL SENSOR DE LUZ \"+msg.id+\" SE ENCUENTRA FUERA DE LÍNEA\";\n    \n    msg.topic= \"SENSOR DE LUZ FUERA DE LÍNEA\";\n    \n    return res;\n}else if(msg.tipoEntidad==\"ruido\"){\n    res={};\n    res.payload= \"EL SENSOR DE RUIDO \"+msg.id+\" SE ENCUENTRA FUERA DE LÍNEA\";\n    \n    msg.topic= \"SENSOR DE RUIDO FUERA DE LÍNEA\";\n    \n    return res;\n}\nreturn res;","outputs":1,"noerr":0,"x":473.74993896484375,"y":688.9999694824219,"wires":[["acece79e.224098"]]},{"id":"acece79e.224098","type":"debug","z":"108af3c9.33e35c","name":"","active":true,"console":"false","complete":"false","x":666.9999389648438,"y":542.9999847412109,"wires":[]},{"id":"682d7630.1564","type":"e-mail","z":"108af3c9.33e35c","server":"smtp.office365.com","port":"587","secure":false,"name":"jma.lovera10@uniandes.edu.co","dname":"Send Notification","x":868.7499237060547,"y":623.8333435058594,"wires":[]},{"id":"723dac96.4e745c","type":"debug","z":"108af3c9.33e35c","name":"","active":true,"console":"false","complete":"false","x":826.9999389648438,"y":682.9999847412109,"wires":[]},{"id":"84061d76.6798f","type":"debug","z":"108af3c9.33e35c","name":"","active":true,"console":"false","complete":"true","x":207,"y":687,"wires":[]},{"id":"632d5918.b1f768","type":"kafka in","z":"108af3c9.33e35c","zkquorum":"172.24.42.23:8081","topics":"alta.malFuncionamiento","groupId":"my-group","debug":true,"autoCommit":true,"x":91,"y":598,"wires":[["739feea6.d1eda","84061d76.6798f"]]},{"id":"ecae134c.dfb208","type":"inject","z":"108af3c9.33e35c","name":"","topic":"","payload":"\"Lovera y tomás sentados en un arbol dandose besitos con el computador quemadito\"","payloadType":"str","repeat":"15","crontab":"","once":true,"x":60.5,"y":121,"wires":[["3b528d75.b3354a"]]}]
