lab/flujos2.0.txt
[{"id":"5093e773.c21918","type":"tab","label":"Telemetry Flow (lab)","disabled":false,"info":""},{"id":"b4191150.c81de","type":"tab","label":"Flujo procesamiento","disabled":true,"info":""},{"id":"52ab8072.2c3","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3604cd93.7ea102","type":"serial-port","z":"","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"343689c7.e7956e","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""},{"id":"78cf8d28.8311dc","type":"inject","z":"5093e773.c21918","name":"Sensor Time","topic":"roomTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":140,"y":280,"wires":[["e986cc3f.0211e","593f63.3d46909c"]]},{"id":"b93bc7df.5fbca8","type":"serial in","z":"5093e773.c21918","name":"Send Temperature","serial":"3604cd93.7ea102","x":153.75,"y":173,"wires":[["ab87a54.f800258","f4a6457.ca431b8"]]},{"id":"ab87a54.f800258","type":"debug","z":"5093e773.c21918","name":"","active":true,"console":"false","complete":"before format","x":370,"y":80,"wires":[]},{"id":"e986cc3f.0211e","type":"debug","z":"5093e773.c21918","name":"","active":true,"console":"false","complete":"before format","x":370,"y":380,"wires":[]},{"id":"f4a6457.ca431b8","type":"function","z":"5093e773.c21918","name":"Format Temperature","func":"var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n//var tempString= \"\";\n\ntempString = msg.payload;\n\nconsole.log( tempString);\ntempArray = tempString.split(\"\\t\");\ntempUnit = tempArray[2];//.replace(\"\\r\\n\", \"\");\nres.topic = \"roomTemperature\";\nres.payload = {};\n\nres.payload = {\"data\": parseInt(tempArray[1]), \"unit\": tempUnit, \"place\": \"Deposito Externo\"}\n\nreturn res;","outputs":1,"noerr":0,"x":380,"y":140,"wires":[["7dd77f9c.bd3178"]]},{"id":"593f63.3d46909c","type":"function","z":"5093e773.c21918","name":"Format time","func":"var res= {};\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\nreturn res;","outputs":1,"noerr":0,"x":390,"y":260,"wires":[["a82a2814.7197c8"]]},{"id":"7dd77f9c.bd3178","type":"debug","z":"5093e773.c21918","name":"","active":true,"console":"false","complete":"after format","x":607.7499847412109,"y":145.1666717529297,"wires":[]},{"id":"a82a2814.7197c8","type":"debug","z":"5093e773.c21918","name":"","active":true,"console":"false","complete":"after format","x":600,"y":240,"wires":[]},{"id":"3eac90bb.59bd5","type":"udp in","z":"b4191150.c81de","name":"","iface":"","port":"6000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":120,"y":120,"wires":[["dd960dcb.47eb7","a3be7879.ad5b18"]]},{"id":"dd960dcb.47eb7","type":"json","z":"b4191150.c81de","name":"","pretty":false,"x":287.74998474121094,"y":125,"wires":[["aa12f734.e824f8","7d289677.435dc"]]},{"id":"a3be7879.ad5b18","type":"debug","z":"b4191150.c81de","name":"","active":true,"console":"false","complete":"entrada","x":270,"y":20,"wires":[]},{"id":"aa12f734.e824f8","type":"debug","z":"b4191150.c81de","name":"","active":true,"console":"false","complete":"after json","x":460,"y":80,"wires":[]},{"id":"7d289677.435dc","type":"function","z":"b4191150.c81de","name":"add topic","func":"var res = {};\n\nres.payload = msg.payload;\nres.topic = \"roomTemperature\";\n\nreturn res;","outputs":1,"noerr":0,"x":445.74998474121094,"y":149.33334350585938,"wires":[["cad31132.c0cdc8","35872ecd.a8b582"]]},{"id":"cad31132.c0cdc8","type":"debug","z":"b4191150.c81de","name":"","active":true,"console":"false","complete":"after json","x":620,"y":120,"wires":[]},{"id":"a8e328a8.96233","type":"inject","z":"b4191150.c81de","name":"","topic":"Incoming Time","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":165.75,"y":212.99998474121094,"wires":[["55a2ae87.86bcf8","ba296601.6e181"]]},{"id":"6bff2d91.817834","type":"inject","z":"b4191150.c81de","name":"Processing Signal","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":false,"x":150,"y":380,"wires":[["f52eb650.fc8aa","5eefb489.fd3864"]]},{"id":"f52eb650.fc8aa","type":"debug","z":"b4191150.c81de","name":"","active":true,"console":"false","complete":"entrada","x":270,"y":460,"wires":[]},{"id":"55a2ae87.86bcf8","type":"debug","z":"b4191150.c81de","name":"","active":true,"console":"false","complete":"entrada","x":430,"y":200,"wires":[]},{"id":"ba296601.6e181","type":"function","z":"b4191150.c81de","name":"format Time","func":"var res= {};\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\nreturn res;","outputs":1,"noerr":0,"x":450,"y":260,"wires":[["35872ecd.a8b582","6d61750.869350c"]]},{"id":"35872ecd.a8b582","type":"function","z":"b4191150.c81de","name":"merge two messages","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"incomingTime\":\n        context.data.recvtime = msg.payload;\n        msg = null;\n        break;\n    case \"roomTemperature\":\n        context.data.room = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.recvtime != null && context.data.room != null) {\n\tres = {};\n    res.payload = context.data;\n    res.topic = \"roomTemperature\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":700,"y":220,"wires":[["c2ab2a0d.6e75e8","17c1d083.74b777","5d51a41c.21d874","417c0b5a.1fc33c"]]},{"id":"6d61750.869350c","type":"debug","z":"b4191150.c81de","name":"","active":true,"console":"false","complete":"entrada","x":610,"y":300,"wires":[]},{"id":"c2ab2a0d.6e75e8","type":"debug","z":"b4191150.c81de","name":"","active":true,"console":"false","complete":"entrada","x":790,"y":160,"wires":[]},{"id":"17c1d083.74b777","type":"mongodb out","z":"b4191150.c81de","mongodb":"343689c7.e7956e","name":"Save Tpsec","collection":"temperaturespsec","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1010,"y":180,"wires":[]},{"id":"5d51a41c.21d874","type":"debug","z":"b4191150.c81de","name":"","active":true,"console":"false","complete":"entrada","x":1010,"y":240,"wires":[]},{"id":"417c0b5a.1fc33c","type":"link out","z":"b4191150.c81de","name":"","links":[],"x":955,"y":300,"wires":[]},{"id":"5eefb489.fd3864","type":"function","z":"b4191150.c81de","name":"Create Query","func":"\n  var res = {};\n  res.skip = 0;\n  res.limit = 60;\n  var signal = msg.payload;\n\n  var maxtime = new Date(Date.now() - 1*60*1000).toISOString();\n  var query = {'room.sensetime':{$gte: maxtime}};\n\n  if(signal === true){\n\n      res.payload = query;\n      res.topic = \"mongoQuery\"\n      return res;\n  }","outputs":1,"noerr":0,"x":440.74998474121094,"y":371.6666717529297,"wires":[["2770ce95.271802","1695422d.94f1ae"]]},{"id":"2770ce95.271802","type":"mongodb in","z":"b4191150.c81de","mongodb":"343689c7.e7956e","name":"Find Tpmin","collection":"","operation":"find","x":710,"y":380,"wires":[["9baebdf4.0963a8","250c3cb7.e2e7bc"]]},{"id":"1695422d.94f1ae","type":"debug","z":"b4191150.c81de","name":"","active":true,"console":"false","complete":"entrada","x":590,"y":440,"wires":[]},{"id":"9baebdf4.0963a8","type":"function","z":"b4191150.c81de","name":"Processing average","func":"var res = {payload:null};\nvar query = msg.payload;\nvar avgUnit = query[0].room.temperature.unit;\nvar avgPlace = query[0].room.temperature.place;\nvar tempData = 0;\nvar avgTemp = 0;\nvar avgTime = 0;\n\n// procesa la temperatura promedio del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + query[i].room.temperature.data;\n}\n\navgTemp = parseInt(tempData/query.length);\ntempData = 0;\n\n// calcula el tiempo estimado del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + new Date(query[i].room.sensetime).getTime();\n}\n\navgTime = Math.round(tempData/query.length);\navgTime = new Date(avgTime);\n\nres.payload = {protime:new Date(Date.now()), sensetime:avgTime, temperature:{data:avgTemp, unit:avgUnit, place:avgPlace}};\nres.topic = \"avgpminTemperature\";\nreturn res;","outputs":1,"noerr":0,"x":947.7499847412109,"y":396.6666717529297,"wires":[["b72820d7.4ac658","e96405c8.150658","c460c178.03b3d"]]},{"id":"250c3cb7.e2e7bc","type":"debug","z":"b4191150.c81de","name":"","active":true,"console":"false","complete":"entrada","x":850,"y":320,"wires":[]},{"id":"b72820d7.4ac658","type":"debug","z":"b4191150.c81de","name":"","active":true,"console":"false","complete":"entrada","x":1190,"y":340,"wires":[]},{"id":"e96405c8.150658","type":"link out","z":"b4191150.c81de","name":"","links":[],"x":1155,"y":440,"wires":[]},{"id":"c460c178.03b3d","type":"mongodb out","z":"b4191150.c81de","mongodb":"343689c7.e7956e","name":"","collection":"","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1224.749984741211,"y":389.99998474121094,"wires":[]}]