lab/flujosLabPreEntrega.txt
[{"id":"c617aa23.ad42e","type":"inject","z":"37c9a338.93b9cc","name":"Sensor Time","topic":"sensorTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":140,"y":280,"wires":[["1ae76bdb.d3d62c","d9c09a91.adf1a8"]]},{"id":"85a3b34e.b815f8","type":"serial in","z":"37c9a338.93b9cc","name":"Send Data","serial":"9d12392.9cfa748","x":123.75,"y":173,"wires":[["a8fb27f8.4ac9e8","859891f.eb300f"]]},{"id":"a8fb27f8.4ac9e8","type":"debug","z":"37c9a338.93b9cc","name":"","active":false,"console":"false","complete":"before format","x":370,"y":80,"wires":[]},{"id":"1ae76bdb.d3d62c","type":"debug","z":"37c9a338.93b9cc","name":"","active":false,"console":"false","complete":"before format","x":370,"y":380,"wires":[]},{"id":"859891f.eb300f","type":"function","z":"37c9a338.93b9cc","name":"Format data","func":"var res = {};\nvar dataArray = [];\nvar dataUnit = \"\";\nvar dataString= \"\";\n\ndataString = msg.payload;\n\n\ndataArray = dataString.split(\" \");\ndataUnit = dataArray[2];//.replace(\"\\r\\n\", \"\");\nswitch(dataArray[0]%4){\n    case 0:\n        res.topic = \"Temperature\"\n        break;\n    case 1:\n        res.topic = \"Luminosity\"\n        break;\n    case 2:\n        res.topic = \"Sound\"\n        break;\n    case 3:\n        res.topic = \"Gas\"\n        break;\n}\n//res.topic = \"roomTemperature\";\nres.payload = {};\n\nres.payload = {\"data\": parseInt(dataArray[1]), \"unit\": dataUnit, \"idSensor\": dataArray[0]}\n\nreturn res;","outputs":1,"noerr":0,"x":350,"y":140,"wires":[["c13afba5.81f3a","a8e3ec74.57db58"]]},{"id":"d9c09a91.adf1a8","type":"function","z":"37c9a338.93b9cc","name":"Format time","func":"var res= {};\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\nreturn res;","outputs":1,"noerr":0,"x":390,"y":260,"wires":[["b9212e51.cf9218","a8e3ec74.57db58"]]},{"id":"c13afba5.81f3a","type":"debug","z":"37c9a338.93b9cc","name":"","active":false,"console":"false","complete":"payload","x":580,"y":60,"wires":[]},{"id":"b9212e51.cf9218","type":"debug","z":"37c9a338.93b9cc","name":"","active":false,"console":"false","complete":"after format","x":520,"y":340,"wires":[]},{"id":"a8e3ec74.57db58","type":"function","z":"37c9a338.93b9cc","name":"Merge 2 msgs","func":"context.data = context.data || {};\nvar res = {};\n\nswitch (msg.topic) {\n    case \"sensorTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    default:\n        context.data.sense = msg.payload;\n        msg = null;\n        break;\n}\n\nif(context.data.sensetime != null && context.data.sense != null) {\n    \n    //res.payload = JSON.stringify(context.data);\n    res.payload = {\"data\": parseInt(context.data.sense.data), \"unit\": context.data.sense.unit, \"idSensor\": context.data.sense.idSensor, \"senseTime\":context.data.sensetime}\n\n    res.topic = \"sensorData\"\n    console.log(res.payload);\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":646.7499847412109,"y":192.33334350585938,"wires":[["f2ae35e4.a8ba78","1dcc8923.cddc27"]]},{"id":"f2ae35e4.a8ba78","type":"debug","z":"37c9a338.93b9cc","name":"","active":true,"console":"false","complete":"after Merge","x":738.7499847412109,"y":253.1666717529297,"wires":[]},{"id":"1dcc8923.cddc27","type":"udp out","z":"37c9a338.93b9cc","name":"Send Temperature","addr":"localhost","iface":"","port":"6000","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":930,"y":160,"wires":[]},{"id":"9d12392.9cfa748","type":"serial-port","z":"","serialport":"/dev/cu.usbmodemFD121","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]
