lab/flujosLabPreEntrega.txt
[{"id":"5093e773.c21918","type":"tab","label":"Telemetry Flow (lab)","disabled":false,"info":""},{"id":"52ab8072.2c3","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3604cd93.7ea102","type":"serial-port","z":"","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"78cf8d28.8311dc","type":"inject","z":"5093e773.c21918","name":"Sensor Time","topic":"roomTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":140,"y":280,"wires":[["e986cc3f.0211e","593f63.3d46909c"]]},{"id":"b93bc7df.5fbca8","type":"serial in","z":"5093e773.c21918","name":"Send Temperature","serial":"3604cd93.7ea102","x":153.75,"y":173,"wires":[["ab87a54.f800258","f4a6457.ca431b8"]]},{"id":"ab87a54.f800258","type":"debug","z":"5093e773.c21918","name":"","active":true,"console":"false","complete":"before format","x":370,"y":80,"wires":[]},{"id":"e986cc3f.0211e","type":"debug","z":"5093e773.c21918","name":"","active":true,"console":"false","complete":"before format","x":370,"y":380,"wires":[]},{"id":"f4a6457.ca431b8","type":"function","z":"5093e773.c21918","name":"Format Temperature","func":"var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n//var tempString= \"\";\n\ntempString = msg.payload;\n\nconsole.log( tempString);\ntempArray = tempString.split(\"\\t\");\ntempUnit = tempArray[2];//.replace(\"\\r\\n\", \"\");\nres.topic = \"roomTemperature\";\nres.payload = {};\n\nres.payload = {\"data\": parseInt(tempArray[1]), \"unit\": tempUnit, \"place\": \"Deposito Externo\"}\n\nreturn res;","outputs":1,"noerr":0,"x":380,"y":140,"wires":[["7dd77f9c.bd3178","f67bba3f.a335f8"]]},{"id":"593f63.3d46909c","type":"function","z":"5093e773.c21918","name":"Format time","func":"var res= {};\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\nreturn res;","outputs":1,"noerr":0,"x":390,"y":260,"wires":[["a82a2814.7197c8","f67bba3f.a335f8"]]},{"id":"7dd77f9c.bd3178","type":"debug","z":"5093e773.c21918","name":"","active":true,"console":"false","complete":"after format","x":600,"y":60,"wires":[]},{"id":"a82a2814.7197c8","type":"debug","z":"5093e773.c21918","name":"","active":true,"console":"false","complete":"after format","x":520,"y":340,"wires":[]},{"id":"f67bba3f.a335f8","type":"function","z":"5093e773.c21918","name":"Merge 2 msgs","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"roomTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"roomTemperature\":\n        context.data.temperature = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.temperature != null) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"roomTemperature\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":646.7499847412109,"y":192.33334350585938,"wires":[["5d9fc634.5d7ab8","ad774030.e87af8"]]},{"id":"5d9fc634.5d7ab8","type":"debug","z":"5093e773.c21918","name":"","active":true,"console":"false","complete":"after Merge","x":738.7499847412109,"y":253.1666717529297,"wires":[]},{"id":"ad774030.e87af8","type":"udp out","z":"5093e773.c21918","name":"Send Temperature","addr":"localhost","iface":"","port":"6000","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":930,"y":160,"wires":[]}]